doctype html
html
  head
    script(src='../bower_components/angular/angular.js')
    script(src='./js/main.js')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css', rel='stylesheet')
    link(href='./css/main.css', rel='stylesheet')
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body(ng-app='Calc')
    .container(ng-controller='ScreenController')
      header 
      .display
      .keypad
        .keypad-row
          button(data-key='ac').buttons.largebuttons AC
          button#placehold.buttons
          button(data-key='/').buttons /
        .keypad-row
          button(data-key='7').buttons 7
          button(data-key='8').buttons 8
          button(data-key='9')#key9.buttons 9
          button#keyMultiply.buttons *
        .keypad-row
          button#key4.buttons 4
          button#key5.buttons 5
          button#key6.buttons 6
          button#keyMinus.buttons -
        .keypad-row
          button#key1.buttons 1
          button#key2.buttons 2
          button#key3.buttons 3
          button#keyPlus.buttons +
        .keypad-row
          button#key0.buttons.largebuttons 0
          button#keyDecimal.buttons .
          button#keyEqual.buttons =
